body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: rgb(14, 12, 12);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer {
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0;
}

.controls button, .mode-switches button {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #205fd4;
    color: white;
}

.controls button:hover, .mode-switches button:hover {
    background-color: #0b3e9c;
}

.mode-switches {
    margin-top: 1rem;
}

.mode-switches button {
    background-color: #808080;
}

.mode-switches button.active {
    background-color: #205fd4;
}

#pause {
    background-color: #f44336;
}

#pause:hover {
    background-color: #da190b;
}

#reset {
    background-color: #808080;
}

#reset:hover {
    background-color: #666666;
}

#workRestToggle {
    background-color: #733D47;  /* Roman purple for when displaying "Rest Mode" */
}

#workRestToggle:hover {
    background-color: #5C313A;  /* Darker roman purple for hover */
}

#workRestToggle.rest {
    background-color: #4CAF50;  /* Green for when displaying "Work Mode" */
}

#workRestToggle.rest:hover {
    background-color: #388E3C;  /* Darker green for hover */
} 